.catalog {
    padding-top: 50px;
    padding-bottom: 200px;
    background: #dedbdb;
    display: grid;
    place-items: center;

    .catalog-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 150px;
        width: 80%;
        margin: 0 auto;

        .product_box {
            width: 310px;
            height: 430px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .categoryName {
            font-family: Prosto One;
            font-size: 20px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
        }
    }
}