.cart-container{
     width: 80%;
     margin: 0 auto;
}
.titleBox{
    display: flex;
    justify-content: space-between;
}
.contentTitle{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .contentTitle2{

        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
     .mainText{
        width: 50%;
    }
}