.basketProduct {
    background: white;
    height: 90px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;

    .basketProduct-container {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .product-logo img {
            width: 60px;
            height: 60px;
        }

        .basket-product-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 290px;

            .category-title {
                font-family: Raleway;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                color: rgba(240, 90, 0, 1);
            }

            .product-title {
                font-family: Raleway;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                color: black;
            }
            @media (max-width:1366px) {
               width: 360px;
            }
            @media (max-width: 1024px) {
                width: 220px;
            }
        }

        .cost {

            width: 250px;
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 30px;

            .cost-title {
                font-family: Raleway;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                color: black;
            }
            @media (max-width: 1366px) {
                width: 100px;
            }
            @media (max-width: 1024px) {
                width: 100px;
            }
        }

        .count {
            width: 250px;
            display: grid;
            place-items: center;
            //text
            font-family: Raleway;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: black;

            .count-container {
                width: 90%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .countProduct_btn {
                    width: 30px;
                    height: 30px;
                    border: none;
                    background: none;
                    outline: none;
                    cursor: pointer;

                    @media (max-width: 1024px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            @media (max-width: 1024px) {
                width: 107px;
            }
        }

        .totalPrice_content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;

            .totalPrice {
                font-family: Raleway;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                color: black;
            }
        }

        .deleteProduct {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            .deleteProduct_btn {
                background: none;
                outline: none;
                border: none;
                cursor: pointer;
            }

            @media (max-width: 1024px) {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 15px;


                .deleteProduct_btn {
                    width: 15px;
                    height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }
        }
    }
}

@media (max-width:1280px) {
    .cost {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .basket-product-title {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .count {
        width: 200px;

        .count-container {
            .countProduct_btn {
                width: 15px;
                height: 15px;

            }
        }
    }

    .cart_total_price_container {
        width: 50%;
    }
}