.saves {
    background: #dedbdb;

    .saves-container {
        padding: 30px;
        width: 80%;
        margin: 0 auto;

        .title-box {
            .saves-title {
                font-family: Prosto One;
                font-size: 30px;
                font-weight: 600;
                line-height: 24px;
            }

            .item-count {
                padding-top: 10px;
                font-family: Prosto One;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                color: rgba(240, 90, 0, 1);
            }
        }

        .items-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
        }
    }
}